/* Styles généraux pour la mise en page */
.vote-session-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.vote-session-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
}

/* Styles pour les sections à gauche et à droite */
.vote-session-left,
.vote-session-right {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

/* Style pour la liste des sessions de vote */
.session-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.session-item {
  background-color: #f39713;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: background-color 0.3s ease;
}

.session-item:hover {
  background-color: #f1a12d;
}

/* Style pour les détails de la session */
.vote-session-right h2,
.vote-session-left h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style pour le formulaire de vote */
.vote-session-right label {
  margin-right: 20px;
  font-size: 18px;
}

.vote-session-right button {
  padding: 10px 20px;
  background-color: #f39713;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.vote-session-right button:hover {
  background-color: #f1a12d;
}

/* Style pour les résultats du vote */
.resultats {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.resultats p {
  font-size: 18px;
  margin: 5px 0;
}

/* Ajout de styles pour le texte */
.vote-session-right p,
.vote-session-left p {
  font-size: 18px;
  margin: 10px 0;
}

/* Style des boutons radio */
input[type="radio"] {
  margin-right: 10px;
}

/* Style des sélecteurs participants */
select[name="participants"] {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: #fff;
}
