.vote-session-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.vote-session-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
}

.create-session, .vote-session-left {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.create-session {
  max-width: 500px;
}

.vote-session-left {
  max-width: 400px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.session-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.session-item {
  background-color: #f39713;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: background-color 0.3s ease;
}

.session-item:hover {
  background-color: #f1a12d;
}

.create-session input,
.create-session textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.create-session button {
  padding: 10px 20px;
  background-color: #f39713;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.create-session button:hover {
  background-color: #f1a12d;
}

.session-details {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 800px;
}

.session-details p {
  font-size: 18px;
  margin: 5px 0;
}
